.flex {
  display: flex;
  align-items: center;
}

.music-controller {
  background-color: white;
  box-shadow: 0px 0px 10px 2px #cecece;
  padding: 8px 0px;
  z-index: 300;
}

.slider {
  flex: 13;
}

.xxl-slider {
  flex: 13;
}

.xl-slider {
  flex: 11;
}

.lg-slider {
  flex: 9;
}

.md-slider {
  flex: 7;
}

.sm-slider {
  flex: 3;
}

.icon-area {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.icon-style {
  font-size: 30px;
  color: rgb(226, 226, 226);
  box-shadow: 0px 0px 10px 5px rgb(238, 233, 233);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.song-info {
  flex: 3;
  display: flex;
  align-items: center;
}

.picture {
  width: 80px;
  min-width: 80px;
}

.xxl-picture {
  width: 65px;
  min-width: 65px;
}

.xl-picture {
  width: 65px;
  min-width: 65px;
}

.lg-picture {
  width: 60px;
  min-width: 60px;
}

.md-picture {
  width: 55px;
  min-width: 55px;
}

.sm-picture {
  width: 50px;
  min-width: 50px;
}

.picture-main {
  aspect-ratio: 1/1;
  box-shadow: 2px 1px 15px 5px #999999;
  margin-left: 16px;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0 16px;
}

#music-name {
  font-size: 1rem;
}

#xxl-music-name {
  font-size: 1rem;
}

#xl-music-name {
  font-size: 15px;
}

#lg-music-name {
  font-size: 14px;
}

#md-music-name {
  font-size: 14px;
}

#sm-music-name {
  font-size: 13px;
}

#artist {
  font-size: 0.8rem;
}

.container {
  position: fixed;
  width: inherit;
  bottom: 0px;
}
